[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ics = "*"
requests = "*"
django = "*"
psycopg2-binary = "*"
gunicorn = "*"
whitenoise = "*"
dj-database-url = "*"
"discord.py" = "*"
pygithub = "*"

[dev-packages]
black = "==20.8b1"
watchdog = "*"
pyyaml = "*"
argh = "*"

[requires]
python_version = "3.8"

[scripts]
watch = "watchmedo tricks-from tricks.yml"
start = "python manage.py runserver"
migrate = "python manage.py migrate"
makemigrations = "python manage.py makemigrations"
update = "python manage.py update_events_data"
