[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ics = "*"
requests = "*"
django = "*"
psycopg2-binary = "*"
gunicorn = "*"
whitenoise = "*"
dj-database-url = "*"
pygithub = "*"
djangorestframework = "*"

[dev-packages]
black = "==22.1.0"
watchdog = "*"
pyyaml = "*"
argh = "*"

[requires]
python_version = "3.8"

[scripts]
start = "python manage.py runserver"
migrate = "python manage.py migrate"
makemigrations = "python manage.py makemigrations"
shell = "python manage.py shell"
watch = "watchmedo tricks-from tricks.yml"
format = "black ."
update = "python manage.py update_events_data"
notify = "python manage.py notify_deadline"
