[mysql]
default-character-set=utf8mb4

[mysqld]
character-set-server=utf8mb4
collation-server=utf8mb4_bin
explicit-defaults-for-timestamp=1
general_log=1
general_log_file=/var/log/mysql/mysqld.log
default_authentication_plugin=mysql_native_password

[client]
default-character-set=utf8mb4
